@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
<head>
    <title>Best Home Appliances & Natural Care Services | CUCKOO Official</title>
</head>
<body>
    <div style="text-align:center;">
        <img src="~/Content/img/MiMiAiChaiKa_Logo.png" />
    </div>
</body>
</html>